/* SECCIÓN GALERÍA */
.galeria {
    min-height: 100vh;
    padding: 40px;
    text-align: center;
}
/* TÍTULO */
.galeria h2 {
    margin-bottom: 20px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* IMÁGENES DE LA GALERÍA */
.grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}
/* EFECTO HOVER EN IMÁGENES */
.grid img:hover {
    transform: scale(1.05);
}
/* CONTENEDOR PARA IMAGEN CON TEXTO ENCIMA */
.imagen-con-texto {
    position: relative;
}
/* TEXTO ENCIMA DE LA IMAGEN */
.imagen-con-texto img {
    width: 100%;
}
 /* CENTRADO PERFECTO de texto*/
.texto-img {
    position: absolute;
    color: white;
    background: rgba(0,0,0,0.5);
    padding: 10px 10px;
    top: 50%;
    left:50%;
 transform: translate(-50%, -50%);
font-size: 30px;
}